.icon {
  height: $icon-size;
  width: $icon-size;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include hover(transform, scale(1.05));

  &--menu {
    background-image: url(/src/images/icon/burger-menu.svg);

    @include on-tablet-big {
      display: none;
    }
  }

  &--close {
    background-image: url(/src/images/icon/close-icon.svg);
  }
}
