.top-bar {
  padding: 16px;

  @include on-tablet {
    padding: 28px 0;
  }

  &__logo-link {
    display: flex;
    width: 136px;
    height: 32px;

    @include hover(transform, scale(1.05));
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}
