$c-white: #fff;
$c-gray: #eee;
$c-dark-gray: #7f8096;
$light-orange: #f9512e;
$dark-orange: #b2341a;
$text-color: #1c1a26;
$light-pink: #ffeefc;
$tablet-size: 640px;
$big-tablet-size: 1280px;
$icon-size: 24px;
